**I created a model by analyzing bank data for artificial neural network  learning purposes.**

In [ ]:
import numpy as np 
import pandas as pd

In [ ]:
data = pd.read_csv("Churn_Modelling.csv")

In [ ]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
data.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [ ]:
X = data.drop(["CustomerId","Surname","Exited","RowNumber"],axis = 1)

In [ ]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [ ]:
y = data["Exited"]

In [ ]:
y.value_counts()

0    7963
1    2037
Name: Exited, dtype: int64

In [ ]:
colm = ["Geography","IsActiveMember","HasCrCard","Gender"]

In [ ]:
X = pd.get_dummies(X,columns=colm)

In [ ]:
X.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain,IsActiveMember_0,IsActiveMember_1,HasCrCard_0,HasCrCard_1,Gender_Female,Gender_Male
0,619,42,2,0.00,1,101348.88,1,0,0,0,1,0,1,1,0
1,608,41,1,83807.86,1,112542.58,0,0,1,0,1,1,0,1,0
2,502,42,8,159660.80,3,113931.57,1,0,0,1,0,0,1,1,0
3,699,39,1,0.00,2,93826.63,1,0,0,1,0,1,0,1,0
4,850,43,2,125510.82,1,79084.10,0,0,1,0,1,0,1,1,0

In [ ]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=58)

In [ ]:
cols = X_train.columns
cols

Index(['CreditScore', 'Age', 'Tenure', 'Balance', 'NumOfProducts',
       'EstimatedSalary', 'Geography_France', 'Geography_Germany',
       'Geography_Spain', 'IsActiveMember_0', 'IsActiveMember_1',
       'HasCrCard_0', 'HasCrCard_1', 'Gender_Female', 'Gender_Male'],
      dtype='object')

In [ ]:
from sklearn.preprocessing import MinMaxScaler

sc = MinMaxScaler()

X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [ ]:
X_train = pd.DataFrame(X_train, columns=[cols])
X_test = pd.DataFrame(X_test, columns=[cols])

In [ ]:
import tensorflow as tf

In [ ]:
ann = tf.keras.models.Sequential()

In [ ]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

In [ ]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

In [ ]:
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

In [ ]:
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [ ]:
ann.fit(X_train, y_train, batch_size = 32, epochs = 100)

Epoch 1/100
250/250 [==============================] - 1s 1ms/step - loss: 0.6067 - accuracy: 0.6691
Epoch 2/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4839 - accuracy: 0.7968
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4724 - accuracy: 0.7974
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4661 - accuracy: 0.7995
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4601 - accuracy: 0.8031
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4539 - accuracy: 0.8066
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4461 - accuracy: 0.8089
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4371 - accuracy: 0.8148
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4277 - accuracy: 0.8224
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4218 - accuracy: 0.8248
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4170 - accuracy: 0.8256
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4148 - accuracy: 0.8278
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4126 - accuracy: 0.8273
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4112 - accuracy: 0.8269
Epoch 15/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4107 - accuracy: 0.8298
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4094 - accuracy: 0.8319
Epoch 17/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4088 - accuracy: 0.8305
Epoch 18/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4078 - accuracy: 0.8320
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4071 - accuracy: 0.8322
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4065 - accuracy: 0.8341
Epoch 21/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4059 - accuracy: 0.8329
Epoch 22/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4057 - accuracy: 0.8322
Epoch 23/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4047 - accuracy: 0.8349
Epoch 24/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4045 - accuracy: 0.8347
Epoch 25/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4042 - accuracy: 0.8345
Epoch 26/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4040 - accuracy: 0.8334
Epoch 27/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4032 - accuracy: 0.8334
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4022 - accuracy: 0.8345
Epoch 29/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4019 - accuracy: 0.8346
Epoch 30/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4021 - accuracy: 0.8365
Epoch 31/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4006 - accuracy: 0.8342
Epoch 32/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3992 - accuracy: 0.8360
Epoch 33/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3986 - accuracy: 0.8353
Epoch 34/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3975 - accuracy: 0.8366
Epoch 35/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3965 - accuracy: 0.8367
Epoch 36/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3954 - accuracy: 0.8359
Epoch 37/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3942 - accuracy: 0.8378
Epoch 38/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3931 - accuracy: 0.8386
Epoch 39/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3920 - accuracy: 0.8390
Epoch 40/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3904 - accuracy: 0.8393
Epoch 41/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3894 - accuracy: 0.8394
Epoch 42/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3890 - accuracy: 0.8413
Epoch 43/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3871 - accuracy: 0.8420
Epoch 44/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3869 - accuracy: 0.8401
Epoch 45/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3860 - accuracy: 0.8415
Epoch 46/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3852 - accuracy: 0.8424
Epoch 47/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3834 - accuracy: 0.8420
Epoch 48/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3833 - accuracy: 0.8440
Epoch 49/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3827 - accuracy: 0.8406
Epoch 50/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3828 - accuracy: 0.8409
Epoch 51/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3818 - accuracy: 0.8416
Epoch 52/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3805 - accuracy: 0.8438
Epoch 53/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3795 - accuracy: 0.8435
Epoch 54/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3787 - accuracy: 0.8438
Epoch 55/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3778 - accuracy: 0.8449
Epoch 56/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3775 - accuracy: 0.8447
Epoch 57/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3760 - accuracy: 0.8416
Epoch 58/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3747 - accuracy: 0.8446
Epoch 59/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3731 - accuracy: 0.8450
Epoch 60/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3727 - accuracy: 0.8471
Epoch 61/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3679 - accuracy: 0.8479
Epoch 62/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3647 - accuracy: 0.8481
Epoch 63/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3615 - accuracy: 0.8487
Epoch 64/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3581 - accuracy: 0.8522
Epoch 65/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3553 - accuracy: 0.8554
Epoch 66/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3517 - accuracy: 0.8564
Epoch 67/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3485 - accuracy: 0.8586
Epoch 68/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3465 - accuracy: 0.8604
Epoch 69/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3449 - accuracy: 0.8608
Epoch 70/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3442 - accuracy: 0.8614
Epoch 71/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3419 - accuracy: 0.8602
Epoch 72/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3418 - accuracy: 0.8605
Epoch 73/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3402 - accuracy: 0.8597
Epoch 74/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3402 - accuracy: 0.8614
Epoch 75/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3406 - accuracy: 0.8629
Epoch 76/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3393 - accuracy: 0.8621
Epoch 77/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3390 - accuracy: 0.8637
Epoch 78/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3392 - accuracy: 0.8599
Epoch 79/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3393 - accuracy: 0.8612
Epoch 80/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3382 - accuracy: 0.8622
Epoch 81/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3381 - accuracy: 0.8635
Epoch 82/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3384 - accuracy: 0.8620
Epoch 83/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3377 - accuracy: 0.8614
Epoch 84/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3380 - accuracy: 0.8644
Epoch 85/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3372 - accuracy: 0.8631
Epoch 86/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3373 - accuracy: 0.8619
Epoch 87/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3374 - accuracy: 0.8634
Epoch 88/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3372 - accuracy: 0.8608
Epoch 89/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3369 - accuracy: 0.8651
Epoch 90/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3373 - accuracy: 0.8621
Epoch 91/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3362 - accuracy: 0.8630
Epoch 92/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3366 - accuracy: 0.8624
Epoch 93/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3369 - accuracy: 0.8631
Epoch 94/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3375 - accuracy: 0.8631
Epoch 95/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3360 - accuracy: 0.8629
Epoch 96/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3363 - accuracy: 0.8606
Epoch 97/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3362 - accuracy: 0.8620
Epoch 98/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3371 - accuracy: 0.8636
Epoch 99/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3360 - accuracy: 0.8636
Epoch 100/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3362 - accuracy: 0.8626

In [ ]:
y_pred = ann.predict(X_test)
y_pred = (y_pred > 0.5)

63/63 [==============================] - 0s 927us/step

In [ ]:
from sklearn.metrics import accuracy_score, roc_auc_score

print(accuracy_score(y_test, y_pred))
print(roc_auc_score(y_test, y_pred))

0.8565
0.7175908274496654